.idea/
questing/arcraft/migrations/
questing/media/models/*.png
questing/media/models/*.scn
questing/media/models/*.usd*

__pycache__/
*.py[cod]
*$py.class
.DS_Store

# C extensions
*.so

#Django things
db.sqlite3
static
questing/questing/secret.py

#Virtual environment
venv/

#requirements file
requirements.txt

